@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  --softred: #fb6087;
  --greyishblue: hsl(237, 18%, 59%);
  --Darkdesaturatedblue: hsl(236, 21%, 26%);
  --Verydarkblue: hsl(235, 16%, 14%);
  --Verydark-mostlyblack-blue: #191a24;
  --bodytextsize: 14px;
  --bodyfont: "Red Hat Text", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/bg-stars.svg);
  background-size: auto;
  background-position: center;
  background-color: var(--Verydarkblue);
}

h1,
h2,
p {
  font-family: var(--bodyfont);
  text-transform: uppercase;
}

h1 {
  font-size: var(--bodyfont);
  color: white;
  text-align: center;
  letter-spacing: 0.5rem;
  margin: 8rem 0 4rem 0;
}

/* ----------- COUNTDOWN ----------- */
.counterwrap {
  width: min(20vw, 10rem);
  height: 10rem;
  /* border: 1px red solid; */
}

.counter {
  width: min(20vw, 10rem);
  height: min(20vw, 10rem);
  background: var(--Darkdesaturatedblue);
  border-radius: 15px;
}

.counter::after {
  position: absolute;
  content: "";
  width: min(20vw, 10rem);
  height: 2rem;
  background-color: var(--Verydark-mostlyblack-blue);
  transform: translateY(-4rem);
  z-index: -2;
  border-radius: 15px;
}

.counttext {
  color: var(--greyishblue);
  text-align: center;
  display: block;
  margin-top: 2rem;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  /* width: min(20vw, 10rem); */
  /* transition: all 0.5s;
  transform-style: preserve-3d;
  animation: rotate; */
}

/* .circle {
  height: 1rem;
  width: 1rem;
  background: hsl(235, 16%, 14%);
  border-radius: 50%;
} */

.number {
  color: var(--softred);
  font-family: var(--bodyfont);
  font-size: min(12vw, 6rem);
  text-align: center;
  transform: translateY(-50%);
}
/* 
.turnblue:hover {
  transform: perspective(10rem) rotate(180deg) translateY(min(-20vw, -10rem));
  perspective-origin: center;
  transition: all 0.5s; 
  transform-style: preserve-3d;
  animation: rotatebox 5s infinite;
}

@keyframes rotatebox {
  from {
    bottom: rotateX(0deg);
  }
  to {
    bottom: rotateX(180deg);
  }
} */

.turn {
  background: hsl(235, 21%, 21%);
  height: 50%;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.countdownwrap {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 50rem;
  margin: 0 auto;
}
.countdayswrap {
}
.counthourswrap {
}
.countminuteswrap {
}
.countsecondswrap {
}

@media only screen and (max-width: 800px) {
  .countdownwrap {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: calc(100% - 2rem);
  }

  .counttext {
    font-size: 0.5rem;
  }

  .counter::after {
    transform: translateY(-3.5rem);
  }
}

/* ----------- FOOTER ------------ */
footer {
  height: 14rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* margin-left: -10px; */
  overflow-x: hidden;
}

.hills {
  width: 1550px;
  position: absolute;
  bottom: 0;
  z-index: -5;
}

.somesection {
  width: 8.5rem;
  display: flex;
  gap: 2rem;
  margin: 2rem auto;
}

.icon {
  width: 1.5rem;
  margin-top: 5rem;
}

.recolor:hover {
  fill: var(--softred);
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: var(--bodyfont);
  color: hsl(228, 45%, 44%);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-family: var(--bodyfont);
}
